.location{
    margin-left: 33.3%;
    padding-top: 180px;
}
.s-margin-1{
    margin-top: 10px;
}
.s-margin-2{
    margin-top: 20px;
}

#page {
    margin: 20px auto;
    color: #666;
    display: block;
    text-align: center;
}

#page li {
    display: inline-block;
    min-width: 30px;
    height: 28px;
    cursor: pointer;
    color: #666;
    font-size: 13px;
    line-height: 28px;
    background-color: #f9f9f9;
    border: 1px solid #dce0e0;
    text-align: center;
    margin: 0 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.xl-nextPage,
.xl-prevPage {
    width: 60px;
    color: #0073A9;
    height: 28px;
}

#page li.xl-disabled {
    opacity: .5;
    cursor: no-drop;
}

#page li.xl-disabled:hover{
    background-color: #f9f9f9 !important;
    border: 1px solid #dce0e0 !important;
    color: #666 !important;
}

#page li.xl-active {
    background-color: #0073A9;
    border-color: #0073A9;
    color: #FFF
}

#page li:hover{
    background-color: #0073A9 !important;
    border-color: #0073A9;
    color: #FFF
}

#page li.xl-jumpText {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    opacity: 1;
}

#page li.xl-jumpText:hover{
    background-color: rgba(0,0,0,0) !important;
    border-color: rgba(0,0,0,0) !important;
}

#page li.xl-jumpButton{
    padding: 0 5px;
}

#xlJumpNum {
    width: 35px;
    margin: 0 3px;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
}
input[type="number"]{
    -moz-appearance:textfield;
}

/*设置div样式的整体布局*/
.page-icon{
    margin:20px 0 0 0;/*设置距离顶部20像素*/
    font-size:0;/*修复行内元素之间空隙间隔*/
    text-align:center;/*设置内容居中显示*/
}

/*设置共有的的样式布局，主要是进行代码优化，提高运行效率*/
.page-icon a,.page-disabled,.page-next{
    border:1px solid #ccc;
    border-radius:3px;
    padding:4px 10px 5px;
    font-size:14PX;/*修复行内元素之间空隙间隔*/
    margin-right:10px;
}

/*对 a 标签进行样式布局 */
.page-icon a{
    text-decoration:none;/*取消链接的下划线*/
    color:#005aa0;
}

.page-current{
    color:#ff6600;
    padding:4px 10px 5px;
    font-size:14PX;/*修复行内元素之间空隙间隔*/
}

.page-disabled{
    color:#ccc;
}

.page-next i,.page-disabled i{
    cursor:pointer;/*设置鼠标经过时的显示状态，这里设置的是显示状态为小手状态*/
    display:inline-block;/*设置显示的方式为行内块元素*/
    width:5px;
    height:9px;
}
.page-disabled i{
    background-position:-80px -608px;
    margin-right:3px;
}

.page-next i{
    background-position:-62px -608px;
    margin-left:3px;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}